{{ $stroke := .Get "stroke" | default "stroke-digijaune" }}
{{ $start := .Get "start" | default "10" }}
{{ $end := .Get "end" | default "90" }}

{{ $classes := slice "absolute" "top-0" "h-full" $stroke }}
{{ $class := (delimit $classes " ") }}

{{ $styles := slice (printf "width: calc(%[2]s%% - %[1]s%%);" $start $end) (printf "left: %[1]s%%;" $start) }}
{{ $style := (delimit $styles " ") }}

{{ $svg_context := (dict
  "class" $class
  "style" (safeCSS $style)
  )
}}


<div class="relative inline-flex">
  <span class="relative z-10">{{ .Inner | markdownify }}</span>
  {{ partial "svg/marker.svg" $svg_context }}
</div>
