<footer class="bg-digibleu-600">
  <div class="container mx-auto max-w-screen-xl px-7 py-8">
    <div class="grid auto-cols-auto grid-flow-row justify-evenly gap-x-16 gap-y-8 md:grid-flow-col">
      <div class="flex flex-col items-start gap-2">
        <h3 class="self-center font-semibold md:self-start">Légal</h3>

        <a class="underline" href="#">Mentions légales</a>
        <a class="underline" href="#">Politique de confidentialité </a>
        <a class="underline" href="#">Conditions de vente</a>
      </div>

      <div class="flex flex-col items-start gap-2">
        <h3 class="self-center font-semibold md:self-start">Crédits</h3>

        <span>
          Site réalisé par
          <a
            href="https://github.com/known-as-bmf"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer"
            >known-as-bmf</a
          >
        </span>
        <span>
          Illustrations par
          <a
            href="https://manonboschard.com"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            Manon Boschard
          </a>
        </span>
        <span>
          Photos portrait par
          <a
            href="https://www.juliemeresse.com"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            Julie Meresse
          </a>
        </span>
        <span>
          Icônes par
          <a
            href="https://www.freepik.com"
            class="underline"
            title="Freepik"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            Freepik
          </a>
          sur
          <a
            href="https://www.flaticon.com"
            class="underline"
            title="Flaticon"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            www.flaticon.com
          </a>
        </span>
      </div>

      <div class="flex flex-col items-start gap-2">
        <h3 class="self-center font-semibold md:self-start">Contact</h3>

        <a
          href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6d%61%72%67%75%65%72%69%74%65%40%64%69%67%69%62%6c%6f%6f%6d%2e%6e%65%74"
          class="underline">
          <span>&#109;&#97;&#114;&#103;&#117;&#101;&#114;&#105;&#116;&#101;</span>
          <span>&#91;&#97;&#116;&#93;</span>
          <span>&#100;&#105;&#103;&#105;&#98;&#108;&#111;&#111;&#109;&#46;&#110;&#101;&#116;</span>
        </a>
        <a
          href="https://calendly.com/digibloom/exploratory-session"
          class="underline"
          target="_blank"
          rel="external nofollow noopener noreferrer">
          Prendre RDV sur Calendly
        </a>
        <div class="flex items-center gap-2">
          <img class="m-0 w-5" src="/images/other/instagram-black.png" alt="Instagram" />
          <a
            href="https://www.instagram.com/_digibloom/"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            @_digibloom
          </a>
        </div>
        <div class="flex items-center gap-2">
          <img class="m-0 w-5" src="/images/other/linkedin-black.png" alt="LinkedIn" />
          <a
            href="https://www.linkedin.com/in/marguerite-pometko/"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            @marguerite-pometko
          </a>
        </div>
      </div>
    </div>

    <div class="mt-8 flex items-center justify-center">
      <span class="font-semibold">2022 {{ .Site.Params.Title }} ©</span>
    </div>
  </div>
</footer>
