<footer class="bg-digibleu-600">
  <div class="container mx-auto max-w-screen-xl px-7 py-8">
    <div class="grid auto-cols-auto grid-flow-row justify-evenly gap-x-16 gap-y-8 md:grid-flow-col">
      <div class="flex flex-col items-start gap-2">
        <h3 class="self-center font-semibold md:self-start">{{ i18n "footer.legal.label" }}</h3>

        {{ range .Site.Menus.legal }}
          <a href="{{ .URL }}" class="underline">
            <span>{{ .Name }}</span>
          </a>
        {{ end }}
      </div>

      <div class="flex flex-col items-start gap-2">
        <h3 class="self-center font-semibold md:self-start">{{ i18n "footer.credits.label" }}</h3>

        <span>
          {{ i18n "footer.credits.made_by.label" }}
          <a
            href="https://github.com/known-as-bmf"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer"
            >known-as-bmf</a
          >
        </span>
        <span>
          {{ i18n "footer.credits.illustrations_by.label" }}
          <a
            href="https://manonboschard.com"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            Manon Boschard
          </a>
        </span>
        <span>
          {{ i18n "footer.credits.photos_by.label" }}
          <a
            href="https://www.juliemeresse.com"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            Julie Meresse
          </a>
        </span>
        <span>
          {{ i18n "footer.credits.icons.by.label" }}
          <a
            href="https://www.freepik.com"
            class="underline"
            title="Freepik"
            target="_blank"
            rel="external nofollow noopener noreferrer"
            >Freepik</a
          >
          {{ i18n "footer.credits.icons.on.label" }}
          <a
            href="https://www.flaticon.com"
            class="underline"
            title="Flaticon"
            target="_blank"
            rel="external nofollow noopener noreferrer"
            >Flaticon</a
          >
        </span>
      </div>

      <div class="flex flex-col items-start gap-2">
        <h3 class="self-center font-semibold md:self-start">{{ i18n "footer.contact.label" }}</h3>

        <a
          href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6d%61%72%67%75%65%72%69%74%65&#64;%64%69%67%69%62%6c%6f%6f%6d&#46;%6e%65%74"
          class="underline">
          <span>&#109;&#97;&#114;&#103;&#117;&#101;&#114;&#105;&#116;&#101;</span>
          <span>&#91;&#97;&#116;&#93;</span>
          <span>&#100;&#105;&#103;&#105;&#98;&#108;&#111;&#111;&#109;&#46;&#110;&#101;&#116;</span>
        </a>
        <a
          href="https://calendly.com/digibloom/exploratory-session"
          class="underline"
          target="_blank"
          rel="external nofollow noopener noreferrer">
          {{ i18n "footer.contact.calendly.label" }}
        </a>
        <div class="flex items-center gap-2">
          {{ $instagram := resources.Get "/images/other/instagram-black.png" | fingerprint }}
          <img
            class="m-0 w-5"
            src="{{ $instagram.RelPermalink }}"
            width="{{ $instagram.Width }}"
            height="{{ $instagram.Height }}"
            alt="Instagram" />
          <a
            href="https://www.instagram.com/_digibloom/"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            @_digibloom
          </a>
        </div>
        <div class="flex items-center gap-2">
          {{ $linkedIn := resources.Get "/images/other/linkedin-black.png" | fingerprint }}
          <img
            class="m-0 w-5"
            src="{{ $linkedIn.RelPermalink }}"
            width="{{ $linkedIn.Width }}"
            height="{{ $linkedIn.Height }}"
            alt="LinkedIn" />
          <a
            href="https://www.linkedin.com/in/marguerite-pometko/"
            class="underline"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            @marguerite-pometko
          </a>
        </div>
      </div>
    </div>

    <div class="mt-8 flex items-center justify-center">
      <span class="font-semibold">2022 {{ .Site.Params.Title }} ©</span>
    </div>
  </div>
</footer>
