<header class="p-4 pt-0">
  <div class="flex items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <a class="flex flex-col items-center justify-center" href="{{ .Site.BaseURL | relLangURL }}">
        {{ $logo := resources.Get "images/logo-background-green.svg" }}
        <img src="{{ $logo.Permalink }}" class="w-64" alt="{{ .Site.Params.Title }}" />
        <h1 class="text-4xl font-semibold uppercase">{{ .Site.Params.Title }}</h1>
      </a>
      <div
        class="flex flex-col items-center justify-center divide-y divide-current sm:flex-row sm:divide-x sm:divide-y-0 sm:py-2">
        {{ range .Site.Params.Headlines }}
          <h2 class="whitespace-nowrap py-2 text-xl sm:px-2 sm:py-0">{{ . }}</h2>
        {{ end }}
      </div>
    </div>
  </div>
</header>
